
.chart-pie-label {
    -fx-font-family: 'Concert One';
    -fx-font-size: 16px;
    -fx-background-color: black;
    -fx-fill: #232323;
}

.chart-pie{
    -fx-background-insets: 0;
    -fx-border-width: 0;

}

.chart-pie:hover{
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.chart-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.style-textFieldsref{
    -fx-alignment: CENTER;
}

.default-color0.chart-pie  { /* Segunda fatia */
    -fx-pie-color: #101093; /* Verde */
}

.default-color1.chart-pie  { /* Terceira fatia */
    -fx-pie-color: #2ecc71; /* Azul */
}
.default-color2.chart-pie  { /* Primeira fatia */
    -fx-pie-color: #d20606; /* Vermelho */
}
.default-color3.chart-pie  { /* Segunda fatia */
    -fx-pie-color: #88439f; /* Verde */
}


.backgroundPane{
    -fx-background-color: linear-gradient(to bottom right, #04000c, #040721);
    -fx-background-radius: 7px;
}

.labelAlimentos{
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
}

.labelInfoChart {
    -fx-font-family: "Arial Black";
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #f5f5f5);
    -fx-border-color:linear-gradient(to bottom right, #422a2a, #604747);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
    -fx-alignment: CENTER;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #3b1a1a, #b01e1e);
}


.textfieldAdd{
    -fx-background-color:linear-gradient(to bottom, #efefef, #f5f5f5);
    -fx-border-color:linear-gradient(to bottom right, #422a2a, #604747);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfieldAdd:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #3b1a1a, #b01e1e);
}

